<%  include   partials/header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
                <table class="table table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col">address</th>
                            <th scope="col">phone</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if(data) {%>
                            <% for( var i= 0 ; i< data.length; i++ ){%>              
                                <tr>
                                    <td><%= (1 + i) %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].address %></td>
                                    <td><%= data[i].phone %></td>
                                    <td>
                                       <a href="/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a>
                                    </td>

                                    <td>
                                        <a href="/edit/<%= data[i].id %>"  class="btn btn-warning btn-sm">edit</a>
                                    </td>       
                                </tr>
                             
                                <% } %>
                         <% } %>
                        </tbody>
                      </table>
                 </div>

        <div class="col-md-4">
          <div class="card">
              <div class="card-header"><h5 class="text-center">Crear </h5></div>
              <div class="card-body">
                  
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre: ">
                        </div>
        
                        <div class="form-group">
                             <input type="text" class="form-control" name="address" placeholder="direccion: ">
                        </div>
        
                        <div class="form-group">
                             <input type="tel" class="form-control" name="phone" placeholder="telefono: ">
                        </div>
        
                        <button type="submit" class="btn btn-success btn-block btn-sm">Guardar</button>
                    </form>
                
              </div>
          </div>
        </div>
    </div>
</div>







<%  include partials/footer.ejs %>

